
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Location de véhicule</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row pt-4">
      <div align="center">
        <h6 class="card-category">
            {% if msg %}
              <span class="text-danger">{{ msg | safe }}</span>
           
            {% endif %}  
        </h6>
    </div> 
      <div class="col-md-12">
        <label for="" class="">Véhicule</label>
             {{ form.vehicule }}
      </div>
      <div class="col-md-12">
        <label for="" class="">Client</label>
             {{ form.client }}
      </div>
      <div class="col-md-12">
        <label for="" class="">Date de début</label>
             {{ form.date_debut }}
      </div>
      <div class="col-md-12">
        <label for="" class="">Date de fin</label>
             {{ form.date_fin }}
      </div>
      <div class="col-md-12">
        <label for="" class="">Statut</label>
             {{ form.statut }}
      </div>
      <div class="col-md-12">
        <label for="" class="">Tarif</label>
  
            {{form.tarif}}
           
 
    </div>
      
    </div>
  <div class="modal-footer">
   
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Annuler
    </button>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
  </div>
</form>
